button {
    margin: 15px 0 0 15px;
}

.rate {
    position: fixed;
    top: 15px;
    right: 15px;
    text-align: right;
    z-index: 1;
}

.buttons {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
}

canvas {
    width: 100% !important;
}

.is-hidden {
    display: none !important;
}