* {
	-webkit-box-sizing: border-box;
}

html {
	height: 100%;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 2% 3%;
	overflow: hidden;
	background: url(bg.jpg);
	background-size: cover;
}

p {
	margin: 0 0 1em;
}

.wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.columns {
	left: 0;
	top: 0;
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 250%;
	text-align: justify;

	-webkit-column-rule-color: #aaa;
	-webkit-column-rule-style: solid;
	-webkit-column-rule-width: 1px;

	-webkit-column-count: 5;
	-webkit-column-gap: 50px;

	-webkit-transition: all .5s;
	-webkit-transform: translate3d(0, 0, 0);
}