/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "normalize";
@import "susy";
@import "compass/css3";
@import "compass/css3/user-interface";

[data-picture="lazy"], [data-picture="shown"] {
    @include transition(opacity 0.7s);
    opacity: 0;
}

[data-picture="shown"] {
    opacity: 1;
}

$total-column: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: $gutter-width;

img {
    max-width: 100%;
}

.page {
    @include container;
}

nav {
    @include span-columns(3,12);
}

p {
    @include span-columns(8,12);
}
