.slider {
  background: #39332B;
  height: 500px;
}

.slider-slide {
  overflow: hidden;
}

.slider-image {
  top: 0;
  left: 0;
  position: absolute;
  max-width: 100%;
  min-height: 100%;
  opacity: 0.4;
  overflow: hidden;
}

.slider-caption {
  position: absolute;
  width: 100%;
  height: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.slider-caption-title,
.slider-caption-title > a {
  font-size: 72px;
  font-family: Lato;
  font-weight: 100;
  margin-top: 100px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 3px;
}

.slider-caption-subtitle,
.slider-caption-subtitle > a {
  font-size: 22px;
  margin-top: 38px;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
}

.slider-caption-readmore {
  display: block;
  width: 76px;
  height: 86px;
  margin: auto;
  border: 4px solid #B98751;
  background: url(../images/readmore-icon.png) center center no-repeat rgba(185, 135, 81, 0);
  overflow: hidden;
  line-height: 999999px;
  transition: background .2s;
  margin-top: 30px;
}

.slider-caption-readmore:hover {
  background-color: rgba(185, 135, 81, 1);
}

.slider-navi {
  position: absolute;
  top: 50%;
  right: 30px;
}

.slider-navi-list {
  list-style: none;
}

.slider-navi-item {
  display: block;
  overflow: hidden;
  line-height: 99999px;
  width: 12px;
  height: 12px;
  background: #000;
  margin-top: 10px;
}

.slider-navi-item > a {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-navi-item:first-child {
  margin-top: 0;
}

.slider-navi-item.is-active {
  background: #B98751;
}