.slider {
  background: #39332B;
}

.slider-slide {
  overflow: hidden;
  background-position: center;
  background-size: auto 100%;
  min-height: 500px;
}

.slider-caption {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

.slider-caption-title {
  font-size: 72px;
  font-family: Lato;
  font-weight: 100;
  margin-top: 100px;
  letter-spacing: 3px;
}

.slider-caption-title,
.slider-caption-title > a {
  color: #fff;
  text-decoration: none;
}

.slider-caption-subtitle {
  font-size: 22px;
  margin-top: 38px;
  letter-spacing: 2px;
}

.slider-caption-subtitle,
.slider-caption-subtitle > a {
  color: #fff;
  text-decoration: none;
}

.slider-caption-readmore {
  display: block;
  width: 76px;
  height: 86px;
  margin: 30px auto;
  border: 4px solid #B98751;
  background: url(../images/readmore-icon.png) center center no-repeat rgba(185, 135, 81, 0);
  overflow: hidden;
  line-height: 999999px;
  transition: background .2s;
  margin-top: 30px;
}

.slider-caption-readmore:hover {
  background-color: rgba(185, 135, 81, 1);
}

.slider-navi {
  position: absolute;
  top: 30px;
  right: 30px;
  opacity: 0.6;
  transition: opacity .2s;
}

.slider-navi:hover {
  opacity: 1;
}

.slider-navi-list {
  list-style: none;
}

.slider-navi-item {
  display: inline-block;
  overflow: hidden;
  line-height: 99999px;
  width: 15px;
  height: 15px;
  background: #000;
  margin-left: 25px;
}

.slider-navi-item > a {
  display: block;
  width: 100%;
  height: 100%;
}

.slider-navi-item:first-child {
  margin-top: 0;
}

.slider-navi-item.is-active {
  background: #B98751;
}

@media (max-width: 350px) {
  .slider-caption-title {
    font-size: 50px;
  }
}