.story {
  min-height: 300px;
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
}

.story-right {
  background-color: #4B4239;
  padding-left: 30px;
}

.story-left {
  background-color: #594F43;
  text-align: right;
  padding-right: 30px;
}

.story-caption {
  height: 100%;
  color: #fff;
}

.story-caption-title {
  padding: 80px 0 30px 0;
  font-size: 28px;
  font-family: Lato;
  text-transform: uppercase;
  text-shadow: 1px 1px 13px #000;
}

.story-caption-title,
.story-caption-title > a {
  color: #B88751;
  text-decoration: none;
}

.story-caption-description {
  margin-bottom: 30px;
}

.story-caption-readmore {
  text-transform: uppercase;
  font-weight: bold;
  padding-bottom: 30px;
  display: block;
}

.story-caption-readmore,
.story-caption-readmore:hover {
  color: #fff;
  text-decoration: none;
}

@media (max-width: 350px) {
  .story-caption-title {
    padding-top: 40px;
  }
}